.weather-cointainer{
    background: rgb(95, 93, 243);
    text-align: center;
}

.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 0;
    font-weight: 300;
}

.description{
    font-size: 20px;
    margin: 0;
}
.temperature{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin: 0;
    font-weight: bold;
}

.feels_like{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 0;
    
}